<nav class="bottom-nav">
    <a class="nav-item {% if active == 'feed' %}active{% endif %}"
       href="/beam-marks/100"
       aria-label="Лента">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
    </a>

    <a class="nav-item nav-add {% if active == 'add' %}active{% endif %}"
       href="/beam-marks/draft"
       aria-label="Добавление">
        <svg width="34" height="34" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
    </a>

    <a class="nav-item {% if active == 'tiles' %}active{% endif %}"
       href="/beam-marks"
       aria-label="Плитка">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 4h7v7H4V4zm9 0h7v7h-7V4zM4 13h7v7H4v-7zm9 0h7v7h-7v-7z"/>
        </svg>
    </a>
</nav>